@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');




.background{
    background-color: rgb(214, 200, 200);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  
}

.search{
 
    width: 40%;
    border-radius: 26px;
    border: 1px solid #ada9a9;
    padding: 1% 8%;
    font-family: 'Combo', cursive;
   
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 12px;
    background-size: 30px;
    text-align: center;
  
    font-size: 25px;
    }

  

    .buttonStyle{
    width: 6%;
    border-radius: 22px;
    border: 1px solid #ada9a9;
        padding: 1% 2%;
        margin: 1% 1%;
        outline: 0;
        background-position: 5px;
        background-size: 1px;
        text-align: center;
        background-color: rgb(253, 252, 252);
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: rgba(72, 72, 73, 0.658);
    font-size: 25px;
    
    -webkit-box-shadow: #ebe4e094 0px 0px 40px 0px;
    -moz-box-shadow: #ebe1d95e 0px 0px 40px 0px;
    box-shadow: #e7dbd293 0px 0px 40px 0px;
    text-shadow: #f7eee9 1px 1px 1px;
    }

    .buttonStyle:hover {
    border: 1px solid #f3efed77;
    background: #867a7277;
    /* background-image: linear-gradient(to top, #cee3d2, #b3dccf, #96d4d4, #7ecadc, #73bee5, #6fbfeb, #6bbff2, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    background-image: linear-gradient(to bottom, #ebeed3, #e6ecb7, #e1ea9a, #dce87b, #d7e55a, #dddc48, #e3d434, #e9ca1e, #f5b92e, #fca93f, #fe9b50, #fb8e5f);
    color: #ffc09977;
    text-decoration: none;
    }



    @keyframes rotate {

        from {transform: rotate(0deg)}
        to {transform: rotate(360deg)}
        
        }
        



        .buttonRefresh{
            width: 6%;
    border-radius: 22px;
    border: 1px solid #ada9a9;

    margin: 1% 1%;

        padding: 1% 2%;
        margin-left: 20%;
        outline: 0;
        background-position: 5px;
        background-size: 1px;
        text-align: center;
        background-color: rgb(253, 252, 252);
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: rgba(72, 72, 73, 0.658);
    font-size: 25px;
    
    -webkit-box-shadow: #ebe4e094 0px 0px 40px 0px;
    -moz-box-shadow: #ebe1d95e 0px 0px 40px 0px;
    box-shadow: #e7dbd293 0px 0px 40px 0px;
    text-shadow: #f7eee9 1px 1px 1px;
    
        }

        
        .buttonRefresh:hover {
 
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: running;
        
        }
    

    

   